.section {
  margin-top: 1rem;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  & > * {
    margin-top: 1rem !important;
  }
}

.reruns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.datetime {
  display: flex;
  flex-direction: column;
}
