@import '../../styles/Variables.global.scss';

.section {
  margin-top: 1rem;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  & > * {
    margin-top: 1rem !important;
  }
}

.reruns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.datetime {
  display: flex;
  flex-direction: column;
}

.ticketCollapsible {
  color: $red;
  cursor: pointer;
}

.ticketCollapsible:hover {
  color: $white;
}

.reservationForm {
  margin-bottom: 1rem;

  & div.formGroup {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  & input {
    margin-top: 0.5rem;
  }

  & button {
    height: 1.5rem;
    border-radius: 3px;
    margin-top: 1rem;
    color: $white;
    background-color: $red;
    border: unset;
  } 
  & button:hover {
    background-color: $red-button-hover;
  }
  & button:active {
    background-color: $red-button-active;
  }
  & button:disabled {
    background-color: grey;
  }

  & div.message {
    margin-top: 1rem;
  }
}

.reservationSuccess {
  margin-bottom: 1rem;
}
