@import '../../styles/Variables.global.scss';

.programItem {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  border-bottom: 1px solid $white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  color: $white;
}

.programItem:hover {
  font-weight: 700;

  & .title {
    color: $white;
  }
}

.info {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

@media only screen and (max-width: 520px) {
  .datetime {
    flex-direction: row !important;
  }
  .time {
    margin-top: 0 !important;
    margin-left: 0.5rem;
  }
  .day {
    display: none;
  }
  .note {
    display: none;
  }
}

.title {
  font-weight: 700;
  color: $red;
}

.datetime {
  display: flex;
  flex-flow: column;
}

.day, .time {
  margin-top: 0.5rem;
}

.place {
  text-align: right;
}

@media only screen and (min-width: 521px) {
  .timeAndInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .datetime {
    order: 1;
  }
  .info {
    order: 2;
    margin-left: 4rem;
  }
}
